
@{
    ViewBag.Title = "BilBakalim";
}

<h2>Hangi Emoji Seni Özetler ?</h2>

<button> Soruyu Değiştir</button>


    
        <div class="table alert-primary text-center w-auto ">
            @{
                for (int i = 1; i <= 12; i++)
                {

                    <tr>
                        <a href="#" class="btn btn-group-sm m-1 p-0 ">
                            <h6>
                                @i
                            </h6>
                        </a>
                    </tr>
                }
            }
        </div>
    
  <div class="table m-auto w-100 " >

                    <a href="#">

                        <img class="img-thumbnail p-1" width="32%"  src="http://rdironworks.com/wp-content/uploads/2017/12/dummy-200x200.png" />
                    </a>


                    <a href="#">

                        <img class="img-thumbnail p-1" width="32%"   src="https://static.thefabricator.com/mediakits/images/square-banner300x300.jpg" />
                    </a>

                    <a href="#">

                        <img class="img-thumbnail p-1" width="32%"   src="https://matbaasayfasi.com/wp-content/uploads/2016/01/Faces-400x400px-1_1_07.jpg" />
                    </a>

                    <a href="#">

                        <img class="img-thumbnail p-1" width="32%"   src="http://rdironworks.com/wp-content/uploads/2017/12/dummy-200x200.png" />
                    </a>

                    @*<a href="#">

                        <img class="img-thumbnail p-1" width="32%"   src="http://rdironworks.com/wp-content/uploads/2017/12/dummy-200x200.png" />
                    </a>

                    <a href="#">

                        <img class="img-thumbnail p-1" width="32%"   src="http://rdironworks.com/wp-content/uploads/2017/12/dummy-200x200.png" />
                    </a>*@

        </div>
