
@using Bilbakalim.Models
@model Tuple<Sorular, Cevaplar>

@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Yeni</h2>

@using (Html.BeginForm("YeniSoru", "Create", FormMethod.Post))
{
    <div class="input-group">
        <span class="input-group-append" id="txtSoru">Soru</span>
        @Html.TextBoxFor(x => x.Item1.Soru, new { @class = "form-control", placeholder = "Soruyu Girin", aria_describedby = "txtSoru" })
    </div>

    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>
    <br />


}


@using (Html.BeginForm("YeniCevap", "Create", FormMethod.Post))
{


    <div class="input-group">
        <span class="input-group-append" id="txtcevap">Cevap</span>
        @Html.TextBoxFor(x => x.Item2.Cevap, new { @class = "form-control", placeholder = "Cevabı Girin", aria_describedby = "txtcevap" })
    </div>
    <div class="input-group">
        <span class="input-group-append" id="ddlsoru">Cevap</span>
        @Html.DropDownListFor(x => x.Item2.Soru.SoruId, (List<SelectListItem>)ViewBag.sorular, new { @class = "form-control", aria_describedby = "ddlsoru" })
    </div>

    <div class="input-group">
        <input type="submit" value="Kaydet" class="btn btn-success" />
    </div>

}

<br />

<div class="input-group">
    @if (TempData["Status"] != null)
    {
        <div class="alert alert-@TempData["Status"]" role="alert"> @TempData["Result"]</div>
    }
</div>

